<p><%= f.label :name %></p>
<%= f.text_field :name %><br />

<p><%= f.label :description %></p>
<%= f.text_area :description %><br />

<p><%= f.label "Добавить фото" %></p>
<%= f.file_field :image %></br>

<p><%= f.submit "Сохранить"%></p></br>